<!--Component-->
<mat-slide-toggle>Slide me!</mat-slide-toggle>
<!--<Component>-->

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
    <p>
        Switch is an on/off control that can be toggled via clicking or dragging. 
    </p>

</mat-card>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
    <p>Step 1</p>
    <p class="docs-api-module-import">
        <code>    
          import &#123; MatSlideToggleModule &#125; from '@angular/material/slide-toggle';
    </code>
    </p>
</mat-card>
<!-- / code Walk Through -->