/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
 
  th.mat-header-cell{
    background:#0D0D0D;
    color:#fff;
    font-weight: bold;
  }
  