
<mat-card class="m-t-15"  *ngIf="!eShareDataService.bootstrapCode">

<section>
<ngx-extended-pdf-viewer [src]="'../assets/EvokeStyleGudie.pdf'" [useBrowserLocale]="true" 
[textLayer]="true" height="80vh">
</ngx-extended-pdf-viewer>

</section>

<!-- /Description -->
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
<p> Angular pdf viewer is a component, in which you can view, find words and print pdfs in your project.</p>
</mat-card>
<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<mat-card class="m-t-15">
<p>Step 1</p>
<p class="docs-api-module-import">
<code>
npm i ngx-extended-pdf-viewer
</code>

<p>Step 2</p>
<p class="docs-api-module-import">
<code>
import &#123; NgxExtendedPdfViewerModule   &#125; from 'ngx-extended-pdf-viewer';
</code>

</p>
</mat-card>

</mat-card>
<mat-card class="m-t-15" *ngIf="eShareDataService.bootstrapCode">
<section >

</section>
<h4 class="m-t-15">Description</h4>
<mat-card class="m-t-15">
This is a bootstrap search field with an icon of a small magnifying glass that indicates a search function.This icon makes it easy for users to recognize the search form. By seeing it, the users can quickly understand that they have to type in this box to search for something.
</mat-card>
<!-- <h4 class="m-t-15">Setup</h4>
<mat-card>
<div class="m-t-15">
empty
</div>
</mat-card> -->

</mat-card>