
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login Form Validation</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" #loginForm="ngForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input type="email" matInput placeholder="Email ID" [(ngModel)]="email" name="email" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="password" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field></td>
      </tr></table>
    </form>









  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="loginForm.invalid" mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
  <!-- Description -->
  <h4 class="m-t-15">Description</h4>

  <mat-card class="m-t-15">
    <p>It is the process used by form dialogs to alert users of errors in their submissions.
    </p>
  </mat-card>

  <!-- /Description -->


</mat-card>
