<table class="tableClass"> 
    <tr mat-dialog-title><mat-icon > warning </mat-icon> 
      <label class="titleClass">{{title}}</label>
  
    </tr>
    <tr> 
      <td [ngStyle]="{'text-align': alignLeft == true ? 'left' : 'center','padding-left':alignLeft == true ?'10px':'0px' }" >
        <mat-dialog-content id="descID">
            {{description}}
          </mat-dialog-content>
        </td>
      </tr>    
      <tr>
      <mat-dialog-actions fxLayoutAlign="center" fxLayoutGap="15px">
          <button mat-stroked-button color="primary" (click)="dialogOK()" style="margin-left:85px">OK</button>
          <button mat-stroked-button (click)="dialogCancel()">Cancel</button>      
      </mat-dialog-actions>
    </tr>
  </table>
  
