
<!-- <mat-toolbar class="esidenav-toolbar">

  <mat-icon svgIcon ="evoke_logo"></mat-icon>
  {{title}}

  <span class="fill-remaining-space"></span>


  <span class="fill-remaining-space"></span>

  <div class="flex-container">
    <button mat-button routerLink="/dashboard">Components</button>

    <button mat-button style="margin:8px;" routerLink="/dashboard">Dashboard</button>

    <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

  </div>

  <mat-menu x-position="before" #menu>
    <button mat-menu-item routerLink="/components">Components</button>
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
  </mat-menu>
</mat-toolbar> -->
