  <!--Component-->
  <iframe [src]="getEmbedUrl()" frameborder="0" class="padding-side" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width:98%;height:98%"></iframe>
  <!--<Component>-->

  <!-- Description -->
  <h4 class="m-t-15">Description</h4>

  <mat-card class="m-t-15">
  <p>Shorter user attention spans are making it important for the websites to use videos to allow visitors to consume more content, faster, and create a compelling experience around their brand.</p>
  </mat-card>

  <!-- /Description -->


  <!-- code Walk Through -->

  <h4 class="m-t-15">Setup</h4>
  <mat-card class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
  <code>
  import &#123; DomSanitizer  &#125; from '@angular/platform-browser';
  </code>
  </p>
  </mat-card>