mat-grid-tile {
background: lightblue;
}
.col-sm-1 {

background: #ddd;
border: 1px solid #ffb605;
padding: 10px;
}
.col-sm-2 {
background: lightskyblue;
border: 1px solid #006699;
padding: 10px;
}
.col-sm-3{
background: lightcoral;
border:1px solid lightblue;
padding:10px;
}
.col-sm-4{
background: lightseagreen;
border:1px solid lightsalmon;
padding:10px;
}
.col-sm-5{
background: mediumorchid;
border:1px solid mediumpurple;
padding:10px;
}
.col-sm-6{
background: mediumslateblue;
border:1px solid midnightblue;
padding:10px;
}
.col-sm-7{
background: olive;
border:1px solid olivedrab;
padding:10px;
}
.col-sm-8{
background: orchid;
border:1px solid palegoldenrod;
padding:10px;
}
.col-sm-9{
background: palegreen;
border:1px solid purple;
padding:10px;
}
.col-sm-10{
background: rebeccapurple;
border:1px solid rosybrown;
padding:10px;
}
.col-sm-11{
background: royalblue;
border:1px solid saddlebrown;
padding:10px;
}
.col-sm-12{
background: salmon;
border:1px solid sandybrown;
padding:10px;
}


 