<mat-card class="m-t-15">

<section>
<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</section>

<h4 class="m-t-15">Description</h4>
  <mat-card class="m-t-15">
    <p> An image gallery lets you add photos in rows and columns.
      This allows you to display more photos in less space while also making it easier for users to browse them.</p>
  </mat-card>
  <!-- /Description -->

<h4 class="m-t-15">Setup</h4>

    <div class="m-t-15">
      <p>Step 1: Run below command in your project terminal.</p>
      <p class="docs-api-module-import">
        <code>
          npm i ngx-gallery
        </code>
      </p>

        <p>Step 2: Required for swipe</p>
      <p class="docs-api-module-import">
        <code>
          npm i hammerjs
        </code>
      </p>
      <p>Step 3: </p>
      <p class="docs-api-module-import">
        <code>
        import &#123; NgxGalleryModule   &#125; from 'ngx-gallery';
        </code>
        </p>
    </div>
  <mat-card>
